html{
    font-family: 'Open Sans', sans-serif;
}

#nav{
    margin-left:80px;
}

#ogs-timers {
    border-style:solid;
    border-width:4px;
    width:800px;
    margin-left:80px;
}

#white-player{
    background-color:white;
    color:black;
    width:800px;
    height:40px;
}

#black-player{
    background-color:black;
    color:white;
    width:800px;
    height:40px;
}

#white-player-name{
    display: table-cell;
    vertical-align: middle;
    float:left;
    width:200px;
    height:100%;
}

#white-player-captures{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    float:left;
    width:200px;
    height:100%;
}

#white-player-byo-yomi{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    float:left;
    width:200px;
    height:100%;
}

#white-player-timer{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    float:left;
    width:200px;
    height:100%;
}

#black-player-name{
    display: table-cell;
    vertical-align: middle;
    float:left;
    width:200px;
    height:100%;
}

#black-player-captures{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    float:left;
    width:200px;
    height:100%;
}

#black-player-byo-yomi{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    float:left;
    width:200px;
    height:100%;
}

#black-player-timer{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    float:left;
    width:200px;
    height:100%;
}
